@font-face {
    font-family: "SegoeUI";
    src: local("SegoeUIBold"),
     url("../../styles//fonts/Segoe/SegoeUI-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "SegoeUI";
    src: local("SegoeUI"),
     url("../../styles//fonts/Segoe/SegoeUI.ttf") format("truetype");
  
}

