@mixin center-vertical(){
    display: flex;
    align-items: center;
}

@mixin center-horizontal(){
    display: flex;
    justify-content: center;
}

@mixin center(){
    display: flex;
    align-items: center;
    justify-content: center;
}