@import "../abstracts/all.scss";

.cardProperty {
  width: 100%;
  height: auto;
  border-radius: 0.3rem;
  border: 1px solid #e3e3e3;
  padding: 2rem;

  .cardPropertyContainer {
    display: flex;
    justify-content: space-between;

    .left {
      border-radius: 0.3rem;
      overflow: hidden;
      height: 20rem;
      width: 20rem;
      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .middle {
      flex: 4;
      display: flex;
      flex-direction: column;
      margin-left: 2rem;

      .header {
        @include center-vertical;
        background: transparent;
        flex-wrap: wrap;

        .title {
          @include title(2rem);
          color: $base-color-lighter;
        
        }

        .icons{
          @include center-vertical;
        
          .stars {
            @include starsBox;    

            .starIcon {
              @include starsIcon;
            }
          }
  
          .prefferedProperty {
            @include prefferedPropertyYellowBadgeBox;
  
            .icon {
              @include prefferedPropertyYellowBadgeIcon;
            }
          }
        }       
      }

      .information {
        padding-left: 1rem;
        border-left: 2px solid #e3e3e3;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .accomodation h2 {
          margin-bottom: 0.5rem;
        }

        .subtitle {
          font-weight: 600;
          color: $dark;
          font-size: 1.3rem;
        }

        .green {
          color: #008009;
        }

        .red {
          color: #cf0000;
        }

        .text {
          font-size: 1.25rem;
        }
      }
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .review {
        .overall {
          @include center-vertical;
          justify-content: flex-end;
          gap: 0.7rem;

          .wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .overallTitle {
              font-weight: normal;
              font-size: 1.7rem;
            }

            .numberOfReviews {
              font-size: 1.25rem;
            }
          }

          .rating {
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
            height: 3.2rem;
            width: 3.2rem;
            @include center;
            background-color: $base-color;

            .ratingNumber {
              color: $light;
              font-weight: 600;
              font-size: 1.5rem;
              padding: 0.5rem;
            }
          }
        }

        .impressionTitle {
          font-weight: 600;
          font-size: 1.4rem;
          color: $base-color-lighter;
          text-align: right;
          margin-top: 1rem;
        }
      }

      .priceAndDetails {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .optionsGroup{
          @include center-vertical;
          justify-content: flex-end;
          flex-direction: column;

          .invisible{
            display: none;
            opacity: 0;
          }

          width: 200px;
   

          .optionsItem{
             font-size: 1.3rem;
             width: 100%;

             text-align: right;
          }
        }

        .text {
          font-size: 1.25rem;
          text-align: right;
        }

        .price {
          font-size: 2rem;
          color: rgb(32, 32, 32);
          margin: 0.3rem 0;
        }

        .credit {
          @include smallGreenBadge;
        }

        .button {
          @include center-vertical;
          width: 14.2rem;
          justify-content: space-between;
          font-size: 1.45rem;
          color: $light;
          outline: none;
          border: none;
          border-radius: 0.3rem;
          padding: 1rem 1.2rem;
          background-color: $base-color-lighter;
          cursor: pointer;

          &:hover {
            background-color: $base-color;
          }
        }
      }
    }
  }
}
