@import "../abstracts/_all.scss";

.navbar {
  width: 100%;
  background-color: $base-color;
  padding: 12px 32px 0;
  @include center-horizontal;

  .navHeader {
    width: 100%;
    @include center-vertical;
    max-width: 1140px;
    margin: 0 auto;
    padding: 5px;
    justify-content: space-between;

    .logo {
      justify-self: flex-start;
      color: $light;
      font-size: 2.5rem;
      font-weight: bold;
    }

    .group {
      @include center-vertical;
      justify-content: space-between;
      margin: 8px 0 0 8px;

      .item {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        @include center-vertical;
        color:  $light;

        p {
          font-size: 1.6rem;
          font-weight: 600;
        }

        .icon {
          width: 2.7rem;
          height: 2.7rem;
          color:  $light;
        }

        & .img-flag {
          height: 2.4rem;
          width: 2.4rem;
          border-radius: 50%;
          object-fit: cover;
        }

        .wrapperAvatar {
          height: 3.5rem;
          width: 3.5rem;
          border: 2px solid rgb(255, 193, 35);
          border-radius: 50%;
          @include center;

          .avatar {
            height: 3.2rem;
            width: 3.2rem;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .info {
          margin-left: 1rem;

          & p:nth-child(1) {
            font-weight: bold;
            font-size: 1.4rem;
          }

          & p:nth-child(2) {
            color: rgb(249, 189, 37);
            font-size: 1.25rem;
            font-weight: 400;
          }
        }
      }

      .button-group {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;

        & .listYourPropertyBtn {
          border: 0.1rem solid  $light;
          border-radius: 3px;
          display: flex;
          justify-self: flex-end;
          align-items: center;
          background-color: transparent;
          cursor: pointer;

          &:hover {
            background-color: rgba(32, 88, 167, 0.9);
          }

          & span {
            border: none;
            background-color: transparent;
            padding: 0.9rem 0.9rem;
            font-size: 1.4rem;
            color:  $light;
            font-weight: 600;
          }
        }

        .login-btn {
          border: 1px solid $base-color-light;
          background-color:  $light;
          font-weight: 600;
          color: $base-color-light;
          padding: .9rem 1.6rem;
          border-radius: 1px;
          cursor: pointer;

          &:hover {
            background-color: rgba(245, 245, 245, 0.982);
          }
        }
      }
    }
  }
}
