@import '../abstracts/_all.scss';

.options {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 36.5rem;
  position: absolute;
  border-radius: 0.5rem;
  padding: 24px 24px 8px;
  top: 4.2rem;
  right: 0;
  background-color: $light;

  .optionItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;

    &:not(:last-child) {
      margin-bottom: 1.6rem;
      border-bottom: 0.1px solid rgba(208, 208, 208, 0.769);
    }

    span {
      font-size: 1.5rem;
    }

    .optionSelect {
      @include center-vertical;
      gap: 2rem;

      .btn {
        border: none;
        width: 3.7rem;
        height: 3.7rem;
        border: 0.1rem solid #0071c2;
        border-radius: 0.3rem;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        color: $base-color-light;
        padding: 0.5rem;
        font-size: 1.8rem;
        @include center;

        &:hover {
          background-color: rgba(32, 88, 167, 0.132);
        }
      }

      .notAllowed {
        cursor: not-allowed;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }

  .optionBtn{
    width: 100%;
    padding: .9rem 1.1rem;
    border: 1px solid $base-color-lighter;
    color: $base-color-lighter;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-weight: 600;
  }
}
