.wrapperRoom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 90%;

    

    .wrapperPrice{
       
        p{
            font-size: 1.3rem;
            width: 70px;
            font-weight: bold;
        }
    }

    .reservationBloc{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;

        .wrapperTypes{

            .deluxe{
                color: #EEC46B !important;
            }

            .master{
                color: #1C5B81 !important;
            }

            .standard{
                color: #648CAC !important;
            }
        }
    }

    .wrapperRoomChecker{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }    

    .includes{
        font-size: 1.1rem;
        color: rgb(180, 180, 180);

    }

    .number{
        font-size: 1.7rem;
        color: #429C42;     
    }

    .unavailable{
        color: rgb(178, 178, 178);
   
    }

    .bloc{
        height: 100px;
        width: 100%;
        border: 1px solid red;
        padding: 1rem;
        margin: 1rem;
    }


}